@charset "utf-8";


/* =Reset default browser CSS.
Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {border: 0;font-family: inherit;font-size: 100%;font-style: inherit;font-weight: inherit;margin: 0;outline: 0;padding: 0;vertical-align: baseline;}
:focus {outline: 0;}

ol, ul {list-style: none;}
table {border-collapse: separate;border-spacing: 0;}
caption, th, td {font-weight: normal;text-align: left;}
blockquote:before, blockquote:after,q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}
a img{border: 0;}
figure{margin:0}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
/* -------------------------------------------------------------- */

body{
	color: #fff;
	font: 12px verdana,"ヒラギノ丸ゴ ProN W4","Hiragino Maru Gothic ProN","メイリオ","Meiryo","ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
	line-height: 1.5;
	-webkit-text-size-adjust: none;
	background-color: #000066;
}


a{color:#a3ffff;text-decoration:none;}
a:hover{opacity:.8;}
a:active, a:focus{outline:0;}



#wrapper{
	width: 98%;
	position: relative;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
	padding-top: 0;
	padding-right: 1%;
	padding-bottom: 0;
	padding-left: 1%;
}

.inner{
margin:0 auto;
width:100%;
}



#header h1{
	font-size: 28px;
	line-height: 1.6;
	font-weight: normal;
	margin-bottom: 10px;
}

#header{
overflow:hidden;
padding:5px 0 0;
}

* html #header{height:1%;}

ul#nav{
clear:both;
overflow:hidden;
margin:0 auto 30px;
}

* html ul#nav{height:1%;}

ul#nav li{
float:left;
}

ul#nav a{
width:144px;
font-size:12px;
display:block;
padding:5px 0 10px 10px;
color:#fff;
border-left:3px solid #fff;
}

ul#nav li:last-child a{width:142px;}

ul#nav a:hover{
	border-color: #a3ffff;
}


#footer .copyright{
	font-size: 11px;
	text-align: center;
}


/* PC用 */
@media only screen and (min-width:960px){
	#wrapper,.inner,ul#nav{
	width:940px;
	padding:0;
	}
	
	#wrapper{padding-bottom:20px;}
	
	#main{
	float:right;
	width:690px;
	}

}


/* モニター幅960px以下 */
@media only screen and (max-width:960px){

	ul#nav{
	clear: both;
	width: 100%;
	border-top: 1px solid #2c74c6;
	}

	ul#nav li{
	width:33%;
	border-right:1px solid #2c74c6;
	border-bottom:1px solid #2c74c6;
	box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
	}

	ul#nav li:nth-child(3n){border-right:0;width:34%;}

	ul#nav a{
	width:100%;
	border:0;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
	}
	
	ul#nav li.active a,ul#nav a:hover{background:#000;}
	
	#footer{
	padding: 0;
	height: 30px;
}
	
}

/* スマートフォン 縦*/
@media only screen and (max-width:480px){
	#header .logo{padding-top:10px;}
	ul#nav li{width:50%;}

	ul#nav li:nth-child(3n){
	border-right:1px solid #2c74c6;
	width:50%;
	}	
	ul#nav li:nth-child(2n),ul#nav li:nth-child(6n){border-right:0;}

}
